<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retos JavaScript</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="letra">Retos JavaScript</li>
                <b><li>Valery Pamplona</li></b>
                <b><li>Análisis y Desarrollo de Software 2687390 </li></b>
                <li style="float:right" class="js"> <a href="eventos.html">EVENTOS</a></li>
            </ul>
        </nav>
    </header>
</body>


<!--<div class="texto">
    <center><h1 class="servicio">Retos JavaScript <br> Podras encontrar todos los retos con cada uno de sus procesos <br> Clic en menu y elige el reto de tu preferencia </h1></center>
    </div>-->

<div>
   <a href="#" class="active">Retos</a>
    <a href="reto1.html">Reto 1</a>
    <a href="reto2.html">Reto 2</a>
    <a href="reto3.html">Reto 3</a>
    <a href="reto4.html">Reto 4</a>
    <a href="reto5.html">Reto 5</a>
    <a href="reto6.html">Reto 6</a>
    <a href="#">Reto 7</a>
    <a href="#">Reto 8</a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>


</html>