<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>reto3</title>
</head>
<body  class="lado">
    <div>
        <center ><h1 class="ño">R e t o 3</h1></center>
        <b><label for="lado1">Ingrese el lado 1 del triangulo</label></b>
        <input type="text" id="lado1" name="lado1">

        <b><label for="lado2">Ingrese el lado 2 del triangulo</label></b>
        <input type="text" id="lado2" name="lado2">

        <b><label for="lado3">Ingrese el lado 3 del triangulo</label></b>
        <input type="text" id="lado3" name="lado3">

     
    </div>
    <center><button id="boton3" class="boton3" onclick=determinarTriangulo(event)>Determinar</button></center>
  
</body>
<script src="../assets/js/reto3.js"></script>
</html>