<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>reto4</title>
</head>
<body class="cuerpo">
    <div class="co">
        <center><b><h1 class="ret">R   e   t   o 4</h1></b></center>
        <label for="name">Nombre Instructor/a</label>
    <select name="" id="name">
        <option value="0">...</option>
        <option value="1">Tatiana </option>
        <option value="2">Jennifer </option>
        <option value="3">Margarita</option>
        <option value="4">Lorena </option>
        <option value="5">Paula </option>
        <option value="6">Uldarico </option>
        <option value="7">Jonathan </option>
    </select>

    <label for="apell">Apellido Instructor/a</label>
    <select name="" id="apell">
        <option value="0">...</option>
        <option value="1">Cabrera</option>
        <option value="2">Fajardo</option>
        <option value="3">Guarin</option>
        <option value="4">Medina</option>
        <option value="5">Romero</option>
        <option value="6">Andrade</option>
        <option value="7">Espitia</option>
    </select>

        <label for="activ">Actividades</label>
       <select name="" id="activ">
            <option value="0">...</option>
            <option value="1">Java Avanzado</option>
            <option value="2">JavaScript</option>
            <option value="3">Prototipado</option>
            <option value="4">Comunicación</option>
            <option value="5">Emprendimiento</option>
            <option value="6">Python</option>
            <option value="7">SQL</option>
        </select>
        <button id="boton" class="boton4" onclick=jugar(event)>Jugar</button>
    </div>
    
</body>
<script src="../assets/js/reto4.js"></script>
</html>