<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reto2</title>
</head>

<body class="ho">
    
    <div class="conte">      
        <center><h1 class="re">R e t o   2</h1></center> 
    <b><label for="op">Ingrese una temperatura</label></b>
    <input type="text" id="op" name="op">
    <b><label for="conver">Vas a converir de</label></b>
    <select name="" id="conver">
        <option value="0">...</option>
        <option value="1">Fahrenheit</option>
        <option value="2">Celsius</option>
        <option value="3">Kelvin</option>
    </select>
        <b><label for="conver1">Deseas convertir a</label></b>
       <select name="" id="conver1">
            <option value="0">...</option>
            <option value="1">Fahrenheit</option>
            <option value="2">Celsius</option>
            <option value="3">Kelvin</option>
        </select>
        <center><button id="boton" class="boton2" onclick=convertir(event)>Convertir</button></center>
    </div>
   
</body>
<script src="../assets/js/reto2.js"></script>
</html>