<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<center><H1>R e t o   1</H1></center>

<body class="fondo">
    <b><label for="p">Ingrese la palabra</label></b>
    <center><input type="text"  id="p" name="p" ></center>

    <div class="cont">
        <b><label for="option">Operación</label></b>
        <center><select name="" id="option">
            <option value="0">...</option>
            <option value="1">Longitud</option>
            <option value="2">Mayuscula</option>
            <option value="3">Minuscula</option>
            <option value="4">Primer caracter</option></center>

        </select>
    </div>
    <center><button class="boton" id="xd" onclick=calcular(event)>Convertir</button></center>

    <div>
        <center><img class="i" src="../assets/img/letra.png" alt=""></center>
    </div>
</body>
<script src="../assets/js/reto1.js"></script>

</html>